@page
@model RestaurantManagement.Pages.Order.TableModel
@{
}
@{
    Layout = "_MyLayout";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 24px;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    label {
        font-weight: bold;
    }

    input[type="datetime-local"] {
        margin: 10px 0;
    }

    input[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

  <script>
    function validateDate() {
      var inputDate = new Date(document.getElementById("datetime").value);
      var currentDate = new Date();

      // Set the current date time to the end of today (23:59:59)
      currentDate.setHours(23, 59, 59, 999);

      if (inputDate <= currentDate && inputDate >= new Date()) {
        return true; // Date is valid
      } else {
        alert("Please select a date and time from now to the end of today.");
        return false; // Prevent form submission
      }


       var inputDate = new Date(document.getElementById("datetime1").value);
      var currentDate = new Date();

      // Set the current date time to the end of today (23:59:59)
      currentDate.setHours(23, 59, 59, 999);

      if (inputDate <= currentDate && inputDate >= new Date()) {
        return true; // Date is valid
      } else {
        alert("Please select a date and time from now to the end of today.");
        return false; // Prevent form submission
      }
    }
  </script>
<form method="post" onsubmit="return validateDate()">
    <h1>Đặt bàn</h1>
    @foreach (var c in Model.tableOrders)
    {
        <div>
            <input required type="radio" name="table_id" value="@c.Id" id="table-@c.Id">
            <label for="table-@c.Id">@c.Description, Tầng: @c.Floor, Số bàn: @c.Number</label>
        </div>
    }
    <div>
        Start: <input required type="datetime-local" id="datetime1" name="start">
        End: <input required type="datetime-local" id="datetime" name="end"><br>
    </div>
    <h2 style="color:red">@Model.message</h2>
    <input  onclick="loadingss()" type="submit" value="Đặt bàn">


         <div id="reservation-list" style="display:flex; flex-wrap:wrap">
        <h3>Bàn và thời gian đã có người đặt trong hôm nay</h3>
        @foreach(var tb in Model.tableOrderCustomers){
        <div style="border:solid 1px red; margin:5px" >
            <p>@tb.TableOrder.Description, Tầng: @tb.TableOrder.Floor, Số bàn: @tb.TableOrder.Number</p>
        <p>Start: @tb.Start</p
        <p>End: @tb.End</p>
        </div>
         }
        </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>


    var connection = new signalR.HubConnectionBuilder().withUrl("/resHub").build();
    connection.start();
    // function loadingss(){
    //     connection.invoke("LoadBook");
    // }
    // connection.on("LoadTableBooked", (data) => {
    //      if(data=="loading"){
    //          window.location.reload();
    //      }
    // });
    connection.on("LoadTableBooked", function (data) {
     if (data == "loading") {
       const myTimeout = setTimeout(myGreeting, 2000);

        function myGreeting() {
            window.location.reload();
         }

    }
});

     


 

</script>

 
  